$spaces: (0, 2, 4, 8, 10, 12, 14, 16, 18, 20);
$sides: (
  '': 'all',
  't': 'top',
  'b': 'bottom',
  'l': 'left',
  'r': 'right',
);

@each $space in $spaces {
  @each $prefix, $value in $sides {
    $property: if($prefix == '', '', -#{$value});
    .m#{$prefix}-#{$space} {
      margin#{$property}: #{$space / 10}rem;
    }
    .p#{$prefix}-#{$space} {
      padding#{$property}: #{$space / 10}rem;
    }
  }
}
